{% load static freebasics_tags i18n %}

{% if sections %}
{% for section in sections %}
  <div class="section-list__container">
    <a href="/sections/{{section.section.id}}/" {% if not forloop.first %}class="article-list__inner-content"{% endif %}>
      <h3 class="section-list__title section-list__title--homepage">{{section.section.title}}</h3>
    </a>
    </div>
    <div class="section-list section-list{{section.get_effective_extra_style_hints}}">
      <ul class="article-list">
      {% for article in section.articles %}
        <li class="article-list__item">
          <div class="article-list__container">
            {% if article.feed_image_thumbnail %}
              <a href="/{{ article.id }}/" class="article-list__image-content">
                  <img src="{{ contentrepo_url }}{{article.feed_image_thumbnail.url}}" alt={{article.feed_image_thumbnail.alt}} class="article-list__image article-list__image--small" height={{article.feed_image_thumbnail.height}} width={{article.feed_image_thumbnail.width}} />
              </a>
            {% endif %}
          <a href="/{{ article.id }}/" {% if not forloop.first %}class="article-list__inner-content"{% endif %}>
            <h2 class="article-list__title">{{article.title}}</h2>
            {% if article.subtitle %}
            <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
            {% endif %}
          </a>
          </div>
        </li>
      {% endfor%}
      </ul>
    </div>
{% endfor %}
{% endif %}
